# fly.toml app configuration file generated for windows-bwqxwa on 2026-02-27T10:12:09Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'windows-bwqxwa'
primary_region = 'ams'

[build]

[[mounts]]
  source = 'storage'
  destination = '/storage'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
